head,
body {
  background-color: #343843;

  margin: 0;
}

.container {
  width: 400px;
  height: 640px;
  margin: 100px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.display {
  color: white;
  border: none;
  display: block;
  width: 87%;
  margin: 0px 15px;
  height: 70px;
  padding: 10px;
  border-radius: 20px;
  background-color: #2a2f4c;
  font-size: 35px;
}

.numbers {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.calculator {
  width: 100%;
  margin: 100px auto;
  background-color: greenyellow;
  background-color: #151e47;
  border-radius: 15px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.number,
.sign2 {
  border: none;
  border-radius: 50px;
  width: 85px;
  height: 85px;
  margin: 5px;
  background-color: #2a2f4c;
  color: white;
  font-size: 28px;
  text-align: center;
}

.number:active {
  background-color: rgb(135, 135, 212);
}

.sign1 {
  background-color: #525ceb;
}
.sign2 {
  background-color: #949faf;
  color: white;
}

#zero {
  width: 200px;
}
